<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index | SimplestRubyFramework application</title>
  </head>
  <body>
    <h1>SimplestRubyFramework in action!</h1>

    <p><%= @time %></p>
  </body>
</html>